.page-header-button.titlebar-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-grow: 1;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/* Pane relief count */

:not(.is-mobile) .view-action.page-header-button.app\:go-back.pane-relief::before {
    content: var(--pane-relief-backward-count);
    display: inline;
    padding-right: 0.4em;
    font-size: 1em;
    vertical-align: text-top;
    line-height: 1;
}

:not(.is-mobile) .view-action.page-header-button.app\:go-forward.pane-relief::after {
    content: var(--pane-relief-forward-count);
    display: inline;
    padding-left: 0.4em;
    font-size: 1em;
    vertical-align: text-top;
    line-height: 1;
}

:not(.is-mobile) .pane-relief body:not(.no-svg-replace) svg {
    vertical-align: top;
}

:not(.is-mobile) .view-actions {
    align-items: center;
}

.view-action.pane-relief {
    display: flex;
    position: unset;
}
