.page-header-button.titlebar-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-grow: 1;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/* Pane relief count */

body:not(.is-mobile) {
    .view-actions {
        align-items: center;
    }

    .view-action {
        /* fix for pop-out windows */
        position: unset;
        display: flex;

        &.pane-relief {
            display: flex;
            position: unset;

            &.app\:go-forward::after,
            &.app\:go-back::before {
                display: inline;
                font-size: 1em;
                vertical-align: text-top;
                line-height: 1;
            }
            &.app\:go-forward::after {
                padding-left: 0.4em;
                content: var(--pane-relief-forward-count);
            }
            &.app\:go-back::before {
                padding-right: 0.4em;
                content: var(--pane-relief-backward-count);
            }
        }

        &:not(:last-child) {
            margin-right: var(--page-header-spacing-desktop);
        }
    }

    .pane-relief body:not(.no-svg-replace) svg {
        vertical-align: top;
    }
}

.is-mobile {
    .view-actions {
        align-items: center;
    }

    .view-action:not(:last-child) {
        margin-right: var(--page-header-spacing-mobile);
    }
}
